type project
title
    FSharp.Plc.Ads
owners
    Pawe³ Paluch
authors 
    Pawe³ Paluch
projectUrl
    https://github.com/nu-soft/FSharp.Plc.Ads/
iconUrl
    https://raw.githubusercontent.com/nu-soft/FSharp.Plc.Ads/master/docs/files/img/logo.png
licenseUrl
    https://github.com/nu-soft/FSharp.Plc.Ads/blob/master/LICENSE.txt
requireLicenseAcceptance
    true
copyright
    Copyright 2017
tags
    fsharp
summary
    Summary not set
description
    Description not set


